.red-ele {
    border: 1px solid red;
    color: white;
}

.yellow-ele {
    border: 1px solid yellow;
    color: white;
}

.blue-ele {
    border: 1px solid blue;
    color: white;
}

.green-ele {
    border: 1px solid green;
    color: white;
}
.about{
    height: 400px;
    max-height: 800px;
}